---
import Heading from "../../components/Heading.astro";
import Hexagon from "../../components/Hexagon.astro";
import Tag from "../../components/Tag.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="marcialfps - Post">
  <main>
    <Heading
      level={1}
      title="Lorem ipsum dolor sit amet, consectetur adipiscing elit"
    />
    <div class="hexagon-group">
      <Hexagon />
      <Hexagon />
      <Hexagon />
    </div>
    <div class="hashtags">
      <Tag isCategory content="Software" />
      <Tag isCategory content="Architecture" />
      <Tag isCategory content="AWS" />
    </div>
    <div class="tag">
      <Tag content="02/05/2023" />
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis non
      tellus in vestibulum. In venenatis leo massa, sit amet commodo libero
      auctor non. Aenean lobortis, nisl nec hendrerit semper, enim nisl
      consectetur arcu, dignissim placerat lorem tellus eu elit. Vivamus in
      justo eu urna interdum vulputate.
    </p>
    <img src="/images/img-test.png  " />
    <p>
      Ut vitae scelerisque lorem. Ut erat libero, pulvinar a tincidunt et,
      efficitur vel felis. Cras ultrices quam lacus, sagittis rhoncus leo
      sagittis non. Integer venenatis, eros eget aliquet tincidunt, augue tortor
      congue orci, a sodales purus dui sed sem. Nulla id ante lacus. Nam
      tristique non quam ut vestibulum. Morbi at dolor orci. Maecenas convallis
      mi sed volutpat aliquet. Praesent imperdiet quis massa ac tincidunt.
      Vestibulum imperdiet ante in mi molestie, non imperdiet sapien consequat.
      Praesent vel purus mollis, rhoncus nunc ut, faucibus metus.
    </p>
    <p>
      Cras consectetur ut mi non pretium. Fusce sit amet lacus vitae nisi
      convallis lobortis. Maecenas placerat tincidunt ante, condimentum sagittis
      lacus commodo vel. Donec posuere tempus orci ac placerat. Suspendisse
      augue turpis, fringilla ac eleifend id, sodales sed quam. Ut rhoncus
      auctor magna, et consequat est. Vivamus sed mi nisi. Vivamus enim metus,
      porta a nibh id, ornare venenatis quam. Mauris vulputate diam ac eleifend
      commodo. Curabitur blandit convallis nunc nec molestie. Mauris eu tempor
      dolor.
    </p>
    <p>
      Pellentesque condimentum tellus ac ligula tempus, non tincidunt purus
      lacinia. Quisque lobortis felis quis elit tincidunt, ac tristique purus
      posuere. Pellentesque interdum tellus sit amet urna porttitor, eu
      tincidunt dolor dictum. Phasellus et interdum nisl, eget suscipit risus.
      Integer accumsan erat vitae mi lobortis, egestas placerat augue ultricies.
      Donec sed dolor vel magna tincidunt consectetur. Ut placerat varius enim,
      sed maximus lorem accumsan et. Nunc vulputate ipsum nec urna semper, sed
      egestas erat varius. Aenean dictum eros at urna congue, id egestas mi
      maximus. Mauris mattis ante mauris, a sodales arcu rutrum in. Maecenas
      scelerisque mattis nulla ut varius.
    </p>
    <p>
      Etiam eget velit nulla. Nam ut blandit libero, in tincidunt ligula.
      Vestibulum luctus efficitur lacinia. Donec eu congue leo. Vestibulum
      elementum iaculis eros, a viverra justo euismod eget. Donec et scelerisque
      mi. Donec pellentesque nulla nec lacus blandit, vitae posuere metus
      tincidunt.
    </p>
  </main>
</Layout>

<style>
  .hexagon-group {
    display: flex;
    gap: 0.15rem;
    align-self: center;
  }

  .hashtags {
    align-self: center;
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
  }

  .tag {
    align-self: center;
  }

  img {
    width: auto;
    height: auto;
    border-radius: 13px;
  }

  p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ffffff;
  }
</style>
