---
import { getCollection } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";
import Prose from "../../components/Prose.astro";
import Tag from "../../components/Tag.astro";
import Separator from "../../components/Separator.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<PageLayout title={entry.data.title}>
  <article>
    <div class="flex flex-col items-center gap-3">
      <p class="text-base text-white">
        {entry.data.pubDate.toLocaleDateString()}
      </p>

      <div class="flex gap-2 wrap">
        {entry.data.tags.map((tag) => <Tag isCategory content={tag} />)}
      </div>
      <Separator />
    </div>
    <section
      class="text-white font-normal text-base leading-normal mx-6 lg:mx-8 gap-8"
    >
      <Prose>
        <Content />
      </Prose>
    </section>
  </article>
</PageLayout>
