---
import BaseLayout from "../layouts/BaseLayout.astro";
import Message from "../components/Message.astro";
---

<BaseLayout title="Not found - marcialfps - Computer engineer">
  <Message>
    <p class="m-0">What are you looking for? 🤔</p>
  </Message>
</BaseLayout>
