---
import PageLayout from "../layouts/PageLayout.astro";
import Message from "../components/Message.astro";
---

<PageLayout title="Not found">
  <Message>
    <p class="m-0">What are you looking for? 🤔</p>
  </Message>
</PageLayout>
