---
import PageLayout from "../layouts/PageLayout.astro";
import Card from "../components/Card.astro";
import Separator from "../components/Separator.astro";
---

<PageLayout title="About me">
  <section class="flex flex-col flex-wrap lg:flex-row lg:flex-nowrap gap-2">
    <img
      class="w-full h-full lg:max-w-sm rounded-xl"
      src="/images/aboutPhoto.jpg"
    />
    <Separator />
    <Card>
      <p>
        I&apos;m Marcial, a software engineer and solutions architect, and I
        work as a fullstack engineer.
      </p>
      <p>
        Being part of the team that develops the Halstack design system has
        allowed me to work with React, Angular and Figma at the frontend. At the
        backend, NodeJS with AWS SDK to develop Hypermedia REST APIs. I have
        used different testing tools depending on the type of testing, like
        Jest, React Testing library, Cypress, Newman, Chromatic.
      </p>
      <p>
        All the applications that I have developed use AWS infrastructure. The
        main services that I use are Lambda functions, DynamoDB, S3 Buckets,
        CloudFront and API Gateway. The infrastructure is deployed through the
        use of CI/CD Jenkins pipelines and Terraform modules.
      </p>
      <p>
        Recently, I obtained AWS Associate Solutions Architect certificate that
        has improved my knowledge of architectures and the importance of balance
        between costs, security and high availability.
      </p>
    </Card>
  </section>
</PageLayout>
