---
import Card from "../components/Card.astro";
import Heading from "../components/Heading.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="marcialfps - About">
  <main>
    <img class="polygon-background" src="icons/polygons-back.svg" />
    <Heading level={1} upperCase title="About me" />
    <div class="content">
      <img class="about-photo" src="/images/aboutPhoto.jpg" />
      <Card>
        <p>
          I'm Marcial, a software engineer and solutions architect, and I work
          as a fullstack engineer.
        </p>
        <p>
          Being part of the team that develops the Halstack design system has
          allowed me to work with React, Angular and Figma at the frontend. At
          the backend, NodeJS with AWS SDK to develop Hypermedia REST APIs. I
          have used different testing tools depending on the type of testing,
          like Jest, React Testing library, Cypress, Newman, Chromatic.
        </p>
        <p>
          All the applications that I have developed use AWS infrastructure. The
          main services that I use are Lambda functions, DynamoDB, S3 Buckets,
          CloudFront and API Gateway. The infrastructure is deployed through the
          use of CI/CD Jenkins pipelines and Terraform modules.
        </p>
        <p>
          Recently, I obtained AWS Associate Solutions Architect certificate
          that has improved my knowledge of architectures and the importance of
          balance between costs, security and high availability.
        </p>
      </Card>
    </div>
  </main>
</Layout>

<style>
  .polygon-background {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 85%;
  }

  .content {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
  }

  .about-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
  }

  @media only screen and (min-width: 768px) {
    .content {
      flex-direction: row;
    }

    .about-photo {
      height: auto;
      width: 30%;
    }
  }
</style>
