---
import BaseLayout from "../layouts/BaseLayout.astro";
import Heading from "../components/Heading.astro";
import Card from "../components/Card.astro";
import Timeline from "../components/Timeline.astro";
import Tag from "../components/Tag.astro";

// Images
import mainPhoto from "../assets/mainPhoto.png";
import letthebadguysrollImage from "../assets/letthebadguys.png";
import lanzarImage from "../assets/lanzar.png";
import endOfDegreeImage from "../assets/endOfDegreeProject.png";
import mfpsDesign from "../assets/mfpsDesign.png";

// Icons
import JobIcon from "../components/icons/Job.astro";
import BookIcon from "../components/icons/Book.astro";
import ToolsIcon from "../components/icons/Tools.astro";
import CodeIcon from "../components/icons/Code.astro";

import figma from "../assets/figma.svg";
import javascript from "../assets/javascript.svg";
import typescript from "../assets/typescript.svg";
import html5 from "../assets/html5.svg";
import css3 from "../assets/css3.svg";
import react from "../assets/react.svg";
import nodejs from "../assets/nodejs.svg";
import astro from "../assets/astro.svg";
import nextjs from "../assets/nextjs.svg";
import testinglibrary from "../assets/testinglibrary.svg";
import jest from "../assets/jest.svg";
import express from "../assets/express.svg";
import tailwind from "../assets/tailwind.svg";
import aws from "../assets/aws.svg";

import Presentation from "../components/Presentation.astro";

const socialMedia = [
  { text: "Linkedin", href: "https://www.linkedin.com/in/marcialfps/" },
  { text: "GitHub", href: "https://github.com/marcialfps" },
  { text: "E-mail", href: "mailto:marcialfco@live.com" },
];

const skills = [
  { icon: figma, text: "Figma" },
  { icon: javascript, text: "JavaScript" },
  { icon: typescript, text: "TypeScript" },
  { icon: html5, text: "HTML" },
  { icon: css3, text: "CSS" },
  { icon: react, text: "React" },
  { icon: nodejs, text: "NodeJS" },
  { icon: aws, text: "AWS" },
  { icon: astro, text: "AstroJS" },
  { icon: nextjs, text: "NextJS" },
  { icon: testinglibrary, text: "Testing Library" },
  { icon: jest, text: "Jest" },
  { icon: express, text: "ExpressJS" },
  { icon: tailwind, text: "TailwindCSS" },
];

const projects = [
  {
    image: mfpsDesign,
    imageAlt: "MFPS designs",
    title: "MFPS brand and website",
    description:
      "Personal brand and website used for professional purposes. It has been created entirely by me at Figma and used on this website. The website is implemented in AstroJS and TailwindCSS.",
    tags: ["Figma", "Astro", "TailwindCSS"],
    link: "https://www.figma.com/file/EwHQlcfgIMY83DHmWfNcm0/Portfolio-and-social-media-design?type=design&node-id=0%3A1&mode=design&t=lcfnIEKhboosV7XS-1",
    linkText: "See Figma design",
  },
  {
    image: letthebadguysrollImage,
    imageAlt: "Let the bad guys roll icon",
    title: "Let the Bad Guys Roll",
    description:
      "Demo game developed for the GMTK 2022 Game Jam. The planet is under the attack of the diciest army in town and it is up to you to protect it.",
    tags: ["Game Jam", "Unity"],
    link: "https://ulitol97.itch.io/let-the-bad-guys-roll",
    linkText: "Play game",
  },
  {
    image: endOfDegreeImage,
    imageAlt: "Capture of the Augmented Reality app",
    title:
      "Assessment of preclinical learning using virtual reality based education for nursing students",
    description:
      "In this research, a case study is presented to analyze the use of VR technologies to learn healthcare techniques in the first year of nursing school.",
    tags: ["Research paper", "Virtual Reality", "Unity"],
    link: "https://www.tandfonline.com/doi/full/10.1080/09523987.2023.2324597",
    linkText: "Read article",
  },
  {
    image: lanzarImage,
    imageAlt: "Preview of LanzAR project",
    title: "LanzAR (Lanzarote in Augmented Reality)",
    description:
      "LanzAR provides a location-based experience where the user can see historical performances in augmented reality. Students participated in the recording of the historical representations.",
    tags: ["End of degree project", "Augmented Reality", "Unity"],
    link: "https://github.com/marcialfps/HistoricalRep_TFG",
    linkText: "See code",
  },
];
---

<BaseLayout>
  <Presentation
    image={mainPhoto}
    title="Marcial F"
    subtitle="Computer engineer"
    socialLinks={socialMedia}
  >
    <p class="text-center">
      +4 years of experience as <span class="text-yellow font-serif">full-stack engineer</span>.
      Experience in <span class="text-yellow font-serif"
        >designing, developing, and maintaining web applications and user interfaces</span
      >. Ability to work across the entire development lifecycle, from UI/UX design to deployment
      and integration with CI/CD pipelines.
    </p>
    <p>📍Lanzarote, Canary Islands.</p>
  </Presentation>

  <section class="flex flex-col items-center gap-7">
    <Heading level={2}><JobIcon />Professional experience</Heading>

    <Timeline
      items={[
        {
          title: "Associate Professional Product Developer",
          subtitle: "DXC Technology, Avilés, Spain",
          date: "March 2020 - Present",
          description:
            "Creating user-friendly interfaces (Adobe XD, Figma) and building web applications (React, TypeScript). Development and maintenance of Node.js APIs. Testing strategy leveraging Jest for unit testing, React Testing Library for component testing, and Cypress for end-to-end testing. Streamlining AWS deployments with Terraform and automating CI/CD processes with Jenkins.",
        },
        {
          title: "Software engineer",
          subtitle: "Capgemini, Langreo, Spain",
          date: "February 2019 - April 2019 and September 2019 - March 2020",
          description:
            "Build and maintain software solutions using Java and perform efficient database maintenance with PL/SQL. Adept at troubleshooting, debugging, and optimizing code for performance and functionality.",
        },
      ]}
    />
  </section>

  <section class="min-w-full flex flex-col items-center gap-5">
    <Heading level={2}><BookIcon />Education and certifications</Heading>

    <Timeline
      items={[
        {
          title: "Oxford Test of English",
          subtitle: "B2 CEFR level",
          date: "May 2023",
        },
        {
          title: "AWS Solutions Architect",
          subtitle: "Associate",
          date: "February 2023 - February 2026",
        },
        {
          title: "Master in Web Engineering",
          subtitle: "University of Oviedo, Spain",
          date: "September 2019 - June 2021",
        },
        {
          title: "Grade in Software Engineering",
          subtitle: "University of Oviedo, Spain",
          date: "September 2015 - July 2019",
        },
      ]}
    />
  </section>

  <section class="flex flex-col items-center gap-7">
    <Heading level={2}><ToolsIcon />Technical skills</Heading>
    <div class="flex justify-center gap-4 flex-wrap">
      {skills.map((skill) => <Tag {...skill} />)}
    </div>
  </section>

  <section class="flex flex-col items-center gap-7">
    <Heading level={2}><CodeIcon />Projects</Heading>

    {projects.map((project) => <Card {...project} />)}
  </section>
</BaseLayout>
