---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import NavBar from "../components/NavBar.astro";
import Heading from "../components/Heading.astro";
---

<MainLayout title="Welcome to Astro.">
  <main>
    <div class="main-images-container">
      <div class="logo-container">
        <img src="icons/logo-yellow.svg" />
        <img src="icons/logo-letters.svg" />
      </div>
      <img class="polygon-background" src="icons/polygons.svg" />

      <img class="main-photo" src="/images/mainPhoto.png" />
    </div>

    <div class="info-container">
      <Heading level={3} title="Marcial F Parrilla Socas" />
      <Heading level={4} title="Computer engineer" />
    </div>
    <!-- <h1>Welcome to <span class="text-gradient">Astro</span></h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://astro.build/integrations/"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
      />
      <Card
        href="https://astro.build/themes/"
        title="Themes"
        body="Explore a galaxy of community-built starter themes."
      />
      <Card
        href="https://astro.build/chat/"
        title="Community"
        body="Come say hi to our amazing Discord community. ❤️"
      />
    </ul> -->
  </main>
</MainLayout>

<style>
  .main-images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
  }

  .polygon-background {
    height: auto;
    width: calc(100% / 6);
    position: sticky;
    top: 0;
  }

  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    gap: 1.5rem;
  }

  .main-photo {
    height: auto;
    width: calc(100% / 2.5);
    position: sticky;
    bottom: 0;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    bottom: 0;
    padding: 2rem;
  }
</style>
