---
import BaseLayout from "../layouts/BaseLayout.astro";
import Heading from "../components/Heading.astro";
import Card from "../components/Card.astro";
import Timeline from "../components/Timeline.astro";

// Images
import volunteerPhoto from "../assets/volunteerPhoto.png";
import tiaguaMadreTierra from "../assets/tiaguaMadreTierra.png";
import afterSchool from "../assets/afterSchool.png";

// Icons
import JobIcon from "../components/icons/Job.astro";
import CodeIcon from "../components/icons/Code.astro";

import Presentation from "../components/Presentation.astro";

const socialMedia = [
  { text: "Linkedin", href: "https://www.linkedin.com/in/marcialfps/" },
  { text: "E-mail", href: "mailto:marcialfco@live.com" },
];

const projects = [
  {
    image: tiaguaMadreTierra,
    imageAlt: "Tiagua Madre Tierra",
    title: "Tiagua Madre Tierra documentary",
    description:
      "Documentary that collects stories of the people of the village of Tiagua, Lanzarote. This village was a commercial and cultural reference in the history of the island.",
    tags: ["Documentary", "History", "Local"],
    link: "https://www.youtube.com/watch?v=lUrMK5plLtc",
    linkText: "Watch on Youtube",
  },
  {
    image: afterSchool,
    imageAlt: "After School logo",
    title: "After School",
    description:
      "The project is carried out under the need to provide a cultural, sports and educational offer to the young people of the island of Lanzarote after the end of the school period.",
    tags: ["Youth", "Participation and engagement"],
    link: "https://lancelotdigital.com/ocio/llega-a-costa-teguise-la-semana-joven-after-school",
    linkText: "Read article",
  },
];
---

<BaseLayout>
  <Presentation
    image={volunteerPhoto}
    title="Marcial F"
    subtitle="Change agent"
    socialLinks={socialMedia}
  >
    <p>
      <span class="text-yellow font-serif"
        >Volunteer in Canarian Youth Press since 2014</span
      > and participant in multiple organizations and projects related with youth
      and participation.
    </p>
    <p>📍Lanzarote, Canary Islands.</p>
  </Presentation>

  <section class="min-w-full flex flex-col items-center gap-7">
    <Heading level={2}><JobIcon />Experience</Heading>

    <Timeline
      items={[
        {
          title: "Representative and coordinator of Canarian Youth Press",
          subtitle: "European Youth Press",
          date: "2022 - Present",
        },
        {
          title: "Technical secretary",
          subtitle: "Canarian Youth Press NGO",
          date: "2015 - Present",
        },
        {
          title: "Jury in Galardon Joven Canarias",
          subtitle: "Gobierno de Canarias",
          date: "December 2020",
        },
        {
          title: "Structured dialogue ambassador",
          subtitle: "Spanish Youth Council",
          date: "2017",
        },
        {
          title: "Coordinator",
          subtitle: "Tiagua Joven Youth Group",
          date: "2014",
        },
      ]}
    />
  </section>

  <section class="flex flex-col items-center gap-7">
    <Heading level={2}><CodeIcon />Projects</Heading>

    {projects.map((project) => <Card {...project} />)}
  </section>
</BaseLayout>
