---
interface Props {
  image?: string;
}

const { image } = Astro.props;
---

<div class="w-fit lg:w-fit flex flex-col justify-items-stretch gap-1">
  {image && <img class="block h-44 object-cover rounded-t-xl" src={image} />}
  <div
    class:list={[
      "lg:h-full flex flex-col gap-3 py-4 px-8 bg-darkGrey text-white font-sans font-normal text-base leading-6 rounded-b-xl",
      { "rounded-xl": !image },
    ]}
  >
    <slot />
  </div>
</div>
