<div class="card">
  <slot />
</div>
<style>
  .card {
    background: #1e1e1e;
    font-family: "Arimo";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    padding: 2rem;
  }
</style>
