---
export interface Props {
  width?: string;
}

const { width } = Astro.props;
---

<div class="card" style={{ width: width }}>
  <slot />
</div>
<style>
  .card {
    background: #313131;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 13px;
  }
</style>
