---
import { Image } from "astro:assets";
interface Props {
  image?: ImageMetadata | string;
  imageAlt?: string;
  mode?: "vertical" | "horizontal";
}

const { image, imageAlt, mode } = Astro.props;
---

<div
  class:list={[
    "w-full lg:w-96 flex justify-items-stretch gap-1",
    { "lg:h-[32rem] flex-col": mode === "vertical" },
    { "lg:h-fit": !image },
  ]}
>
  {
    image &&
      (typeof image === "string" ? (
        <img
          src={image as string}
          class:list={[
            "block object-cover bg-grey",
            { "h-1/2 rounded-t-xl": mode === "vertical" },
            { "rounded-l-xl w-1/4": !mode || mode === "horizontal" },
          ]}
        />
      ) : (
        <Image
          class:list={[
            "block object-cover bg-grey",
            { "h-1/2 rounded-t-xl": mode === "vertical" },
            { "rounded-l-xl w-1/4": !mode || mode === "horizontal" },
          ]}
          src={image as ImageMetadata}
          alt={imageAlt || "Image inside a card component"}
          quality="low"
        />
      ))
  }
  <div
    class:list={[
      "flex flex-col justify-between gap-3 py-4 px-8 bg-gradient-to-b from-darkGrey from-50% text-white font-normal text-base leading-6",
      { "h-1/2 rounded-b-xl": mode === "vertical" },
      { "grow rounded-r-xl": !mode || mode === "horizontal" },
      { "h-full rounded-xl": !image },
    ]}
  >
    <slot />
  </div>
</div>
