---
import { Image } from "astro:assets";
interface Props {
  image?: ImageMetadata | string;
  imageAlt?: string;
  mode?: "vertical" | "horizontal";
}

const { image, imageAlt, mode } = Astro.props;
---

<div
  class:list={[
    "w-fit lg:w-fit flex justify-items-stretch gap-1",
    { "flex-col": mode === "vertical" },
  ]}
>
  {
    image &&
      (typeof image === "string" ? (
        <img
          src={image as string}
          class:list={[
            "block object-cover bg-grey",
            { "rounded-t-xl h-1/4": mode === "vertical" },
            { "rounded-l-xl w-1/4": !mode || mode === "horizontal" },
          ]}
        />
      ) : (
        <Image
          class:list={[
            "block object-cover bg-grey",
            { "rounded-t-xl h-1/4": mode === "vertical" },
            { "rounded-l-xl w-1/4": !mode || mode === "horizontal" },
          ]}
          src={image as ImageMetadata}
          alt={imageAlt || "Image inside a card component"}
        />
      ))
  }
  <div
    class:list={[
      "lg:h-full flex flex-col gap-3 py-4 px-8 bg-darkGrey text-white font-sans font-normal text-base leading-6",
      { "rounded-b-xl": mode === "vertical" },
      { "rounded-r-xl": !mode || mode === "horizontal" },
      { "rounded-xl": !image },
    ]}
  >
    <slot />
  </div>
</div>
