<footer>
  <svg
    width="203"
    height="27"
    viewBox="0 0 203 27"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M3 3L4.15126 0.780857L0.5 3H3ZM46.3369 3H48.8369L45.1857 0.780857L46.3369 3ZM24.6685 14.2413L23.5172 16.4605L24.6685 17.0577L25.8197 16.4605L24.6685 14.2413ZM43.8369 3V26.8353H48.8369V3H43.8369ZM5.5 26.8353V3H0.5V26.8353H5.5ZM1.84874 5.21914L23.5172 16.4605L25.8197 12.0222L4.15126 0.780857L1.84874 5.21914ZM25.8197 16.4605L47.4882 5.21914L45.1857 0.780857L23.5172 12.0222L25.8197 16.4605Z"
      fill="#ffffff"></path>
    <path
      d="M83.7909 14.839H57.0628M57.0628 26.8353V3H100.4"
      stroke="#ffffff"
      stroke-width="5"
      stroke-linejoin="bevel"></path>
    <path
      d="M108.2 14.839H151.537V3H108.2V26.8353"
      stroke="#ffffff"
      stroke-width="5"
      stroke-linejoin="bevel"></path>
    <path
      d="M203 3H182.125H161.972V13.7801H200.451L200.451 24.1809H159.338"
      stroke="#ffffff"
      stroke-width="5"
      stroke-linejoin="bevel"></path>
  </svg>
  <p>·</p>
  <p>
    Marcial F Parrilla Socas
    {new Date().getFullYear()}. Designed with Figma.
  </p>
</footer>
<style>
  footer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p {
    font-family: "Arimo";
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    color: #ffffff;
    margin: 0;
  }

  svg {
    height: 0.75rem;
    width: auto;
  }

  a:is(:hover, :focus-within) {
    color: #c6ae59;
  }

  @media only screen and (min-width: 768px) {
    footer {
      flex-direction: row;
      gap: 0.5rem;
    }
  }
</style>
