---
import Logo from "./icons/Logo.astro";
---

<footer class="flex items-center justify-center gap-1 text-white py-3">
  <Logo class="h-5" />
  <p>·</p>
  <p class="font-light text-xs">
    Marcial F Parrilla Socas
    {new Date().getFullYear()}. Designed with Figma.
  </p>
</footer>
