---
import NavBar from "./NavBar.astro";
---

<header>
  <a href="/">
    <svg
      width="149"
      height="164"
      viewBox="0 0 149 164"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M8 43.6677L4.37995 37.0992L0.5 43.6677H8ZM141.065 43.6677H148.565L144.686 37.0992L141.065 43.6677ZM141.065 119.223L144.769 125.745L148.565 119.223H141.065ZM74.5327 157L70.8295 163.522H78.2359L74.5327 157ZM8 119.223H0.5L4.2968 125.745L8 119.223ZM74.5327 7L78.1528 0.431498H70.9127L74.5327 7ZM74.5327 79.3012L70.9918 85.9127L74.5327 87.8092L78.0737 85.9127L74.5327 79.3012ZM133.565 43.6677V119.223H148.565V43.6677H133.565ZM137.362 112.701L70.8295 150.478L78.2359 163.522L144.769 125.745L137.362 112.701ZM78.2359 150.478L11.7032 112.701L4.2968 125.745L70.8295 163.522L78.2359 150.478ZM15.5 119.223V43.6677H0.5V119.223H15.5ZM11.6201 50.2362L78.1528 13.5685L70.9127 0.431498L4.37995 37.0992L11.6201 50.2362ZM70.9127 13.5685L137.445 50.2362L144.686 37.0992L78.1528 0.431498L70.9127 13.5685ZM4.45904 50.2792L70.9918 85.9127L78.0737 72.6898L11.541 37.0563L4.45904 50.2792ZM78.0737 85.9127L144.606 50.2792L137.525 37.0563L70.9918 72.6898L78.0737 85.9127Z"
        fill="currentColor"></path>
    </svg>
  </a>
  <NavBar />
</header>
<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    background-color: #1e1e1e;
  }

  a {
    text-decoration: inherit;
    color: #ffffff;
    height: 2rem;
  }

  a svg {
    height: 2rem;
    width: auto;
  }

  a:is(:hover, :focus-within) {
    color: #c6ae59;
  }

  @media only screen and (min-width: 768px) {
    header {
      background-color: inherit;
    }

    .nav-container {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      position: fixed;
      top: calc(100% / 3);
      right: 0;
      text-align: end;
    }

    a {
      display: none;
    }
  }
</style>
