---
import LogoLetters from "./icons/LogoLetters.astro";
import ComputerIcon from "./icons/Computer.astro";
import VolunteerIcon from "./icons/Volunteer.astro";
---

<header class="flex justify-center h-10 border-b border-lightGrey">
  <div
    class="grow flex items-center justify-between px-2.5 lg:p-0 lg:max-w-screen-md"
  >
    <a
      class="no-underline text-lightGrey h-4 hover:text-yellow hover:scale-105 duration-300 focus:text-yellow"
      href="/"
      aria-label="Go to home page"
    >
      <LogoLetters />
    </a>

    <nav class="flex gap-5 text-sm lg:text-base">
      <a
        class="flex items-center gap-1 no-underline hover:text-yellow hover:scale-105 duration-300 focus:text-yellow"
        href="/"
        aria-label="Home page"
        id="home"
      >
        <ComputerIcon class="h-5" />
        Engineer
      </a>
      <a
        class="flex items-center gap-1 no-underline hover:text-yellow hover:scale-105 duration-300 focus:text-yellow"
        href="/volunteer"
        aria-label="Volunteering page"
        id="volunteer"
      >
        <VolunteerIcon class="h-5" />
        Volunteer
      </a>
    </nav>
  </div>
</header>

<script>
  const currentPathname =
    window.location.pathname.replaceAll("/", "") || "home";
  const anchor = document.getElementById(currentPathname);
  anchor?.classList.add("text-yellow");
</script>
