---
export interface Props {
  title: string;
  level: 5 | 4 | 3 | 2 | 1;
  upperCase?: boolean;
}

const { title, level, upperCase } = Astro.props;
---

{
  level === 5 ? (
    <h5>{upperCase ? title.toUpperCase() : title}</h5>
  ) : level === 4 ? (
    <h4>{upperCase ? title.toUpperCase() : title}</h4>
  ) : level === 3 ? (
    <h3>{upperCase ? title.toUpperCase() : title}</h3>
  ) : level === 2 ? (
    <h2>{upperCase ? title.toUpperCase() : title}</h2>
  ) : (
    <h1>{upperCase ? title.toUpperCase() : title}</h1>
  )
}
<style>
  * {
    font-family: "Oswald";
    font-style: normal;
    line-height: 36px;
    color: #ffffff;
    margin: 0;
  }
  h1 {
    font-size: 2rem;
    line-height: 39px;
    font-weight: 300;
    align-self: center;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  h3 {
    font-size: 1.25rem;
    color: #c6ae59;
  }
  h4 {
    font-size: 1rem;
  }
</style>
