---
export interface Props {
  level: 3 | 2 | 1;
}

const { level } = Astro.props;
---

{
  level === 3 ? (
    <h3 class="flex gap-1 items-center text-xl font-light">
      <slot />
    </h3>
  ) : level === 2 ? (
    <h2 class="flex gap-1 items-center text-2xl font-semibold">
      <slot />
    </h2>
  ) : (
    <h1 class="flex gap-1 items-center text-3xl">
      <slot />
    </h1>
  )
}
