<div class="flex items-end gap-4">
    <img class="shrink-0 w-5 h-5 rounded-full" src="./images/aboutPhoto.jpg" />
    <div
        class="flex items-center gap-3 py-2 px-4 bg-yellow text-white rounded-r-xl rounded-tl-xl font-sans font-normal text-base shadow-black shadow-inner"
    >
        <slot />
    </div>
</div>
