<div class="flex items-end gap-4">
  <img
    class="shrink-0 w-7 h-7 rounded-full"
    src="/website/images/mainPhoto.png"
  />
  <div
    class="flex items-center gap-3 py-2 px-4 bg-yellowTransparent rounded-r-xl rounded-tl-xl border border-yellow font-sans font-normal text-white text-base"
  >
    <slot />
  </div>
</div>
