<ul class="nav-container">
  <li><a href="/about">About</a></li>
  <li><a href="/projects">Projects</a></li>
  <li><a href="/blog">Blog</a></li>
</ul>
<style>
  .nav-container {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: fixed;
    top: calc(100% / 3);
    right: 0;
    text-align: end;
  }

  li {
    font-family: "Aldrich";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 23px;
    margin-bottom: 5rem;
  }

  a {
    text-decoration: inherit;
    color: #ffffff;
  }

  a:is(:hover, :focus-within) {
    color: #c6ae59;
  }
</style>
