<ul class="nav-container">
  <li><a href="/about">About</a></li>
  <li><a href="/projects">Projects</a></li>
  <li><a href="/blog">Blog</a></li>
</ul>
<style>
  .nav-container {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 0 1rem;
    background: #313131;
  }

  ul {
    margin: 0;
  }

  li {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 36px;
  }

  a {
    text-decoration: inherit;
    color: #ffffff;
  }

  a:is(:hover, :focus-within) {
    color: #c6ae59;
  }
</style>
