---

---

<div
  class="flex flex-col items-center prose dark:prose-invert prose-p:font-sans prose-p:font-normal prose-p:text-base prose-p:leading-6
  
  
  <!-- prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl -->
  
  prose-headings:font-serif prose-headings:font-light prose-headings:leading-10 prose-headings:m-0
  prose-h2:text-2xl prose-h2:text-yellow
  prose-h3:text-xl prose-h4:text-lg"
>
  <slot />
</div>
