---
import { Image } from "astro:assets";
import hexagon from "../assets/hexagon.svg";
---

<div class="flex lg:flex-col self-center gap-1 animate-pulse">
  <Image src={hexagon} alt="Hexagon icon" class="lg:w-80" />
  <Image src={hexagon} alt="Hexagon icon" class="lg:w-80" />
  <Image src={hexagon} alt="Hexagon icon" class="lg:w-80" />
</div>
