---
import { Image } from "astro:assets";
import hexagon from "../assets/hexagon.svg";
---

<div class="flex justify-center gap-1 animate-pulse w-40">
  <Image src={hexagon} alt="Hexagon icon" />
  <Image src={hexagon} alt="Hexagon icon" />
  <Image src={hexagon} alt="Hexagon icon" />
</div>
