---
import { Image } from "astro:assets";
import hexagon from "../assets/hexagon.svg";
export interface Props {
  mode?: "horizontal" | "vertical";
}

const { mode } = Astro.props;
---

<div
  class:list={[
    "flex justify-center items-center gap-1 animate-pulse w-40",
    { "flex-col": mode === "vertical" },
  ]}
>
  <Image src={hexagon} alt="Hexagon icon" format="avif" quality="low" />
  <Image src={hexagon} alt="Hexagon icon" format="avif" quality="low" />
  <Image src={hexagon} alt="Hexagon icon" format="avif" quality="low" />
</div>
