---
export interface Props {
  isCategory?: boolean;
  content: string;
}

const { content } = Astro.props;
---

<div
  class="border-yellow bg-yellowTransparent border-2 rounded-full font-sans text-xs w-fit px-2 text-white"
>
  <p class="m-0 whitespace-nowrap uppercase">{content}</p>
</div>
