---
export interface Props {
  isCategory?: boolean;
  content: string;
}

const { isCategory, content } = Astro.props;
---

<div
  class:list={[
    "border-2 rounded-full font-serif text-xs w-fit px-2 text-white",
    { "border-yellow bg-yellowTransparent": isCategory },
    { "border-lightGrey bg-lightGreyTransparent": !isCategory },
  ]}
>
  <p class="m-0">{isCategory && "#"}{content.toUpperCase()}</p>
</div>
