---
import { Image } from "astro:assets";

export interface Props {
  icon?: ImageMetadata | string;
  text: string;
}

const { icon, text } = Astro.props;
---

<div
  class="flex justify-center items-center p-1.5 gap-1.5 bg-darkGreyTransparent border border-darkGrey rounded h-8"
>
  {
    icon && (
      <>
        <Image
          src={icon as ImageMetadata}
          alt={`${text} icon`}
          quality="low"
          class="h-4 w-fit"
        />
        <div class="h-5 w-0 border border-lightGrey" />
      </>
    )
  }
  <p class="font-serif font-light text-white text-sm">{text}</p>
</div>
