---
export interface Props {
  isCategory?: boolean;
  content: string;
}

const { content } = Astro.props;
---

<div
  class="flex items-center border-yellow bg-yellowTransparent border-2 rounded-full font-sans font-bold text-xs w-fit px-2 text-yellow"
>
  <p class="m-0 whitespace-nowrap">{content}</p>
</div>
