---
export interface Props {
  items: {
    title: string;
    subtitle: string;
    date: string;
    description?: string;
  }[];
}

const { items } = Astro.props;
---

<ol class="min-w-full flex flex-col px-2.5 gap-2.5">
  {
    items.map((item) => (
      <li class="flex gap-2.5">
        <div class="flex flex-col items-center pt-1.5 gap-2.5">
          <svg
            class="w-6"
            xmlns="http://www.w3.org/2000/svg"
            width="13"
            height="16"
            viewBox="0 0 13 16"
            fill="none"
          >
            <path
              d="M6.5 0.369141L12.9952 4.11914L12.9952 11.6191L6.5 15.3691L0.00480938 11.6191L0.00480938 4.11914L6.5 0.369141Z"
              fill="#AFAFAF"
            />
          </svg>

          <div class="w-0 h-full border-s border-dashed border-lightGrey " />
        </div>
        <div class="flex flex-col pb-5 gap-2.5">
          <header class="text-xl">
            <p class="font-serif font-bold text-yellow">{item.title}</p>
            <p>{item.subtitle}</p>
            <p class="font-light">{item.date}</p>
          </header>

          <p>{item.description || ""}</p>
        </div>
      </li>
    ))
  }
</ol>
