---
import PageLayout from "./PageLayout.astro";
import type { MarkdownLayoutProps } from "astro";
import Separator from "../components/Separator.astro";
import Tag from "../components/Tag.astro";

type Props = MarkdownLayoutProps<{
  title: string;
  author: string;
  tags: string[];
  pubDate: Date;
}>;

const { frontmatter } = Astro.props;
---

<PageLayout title={frontmatter.title}>
  <div class="flex flex-col items-center gap-4 mb-2">
    <Separator />
    <div class="flex gap-3 wrap">
      {frontmatter.tags.map((tag) => <Tag isCategory content={tag} />)}
    </div>
    <Tag content={frontmatter.pubDate.toLocaleDateString()} />
  </div>

  <slot />
</PageLayout>
