---
import Card from "../../components/Card.astro";
import Heading from "../../components/Heading.astro";
import Hexagon from "../../components/Hexagon.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="marcialfps - Admin">
    <main>
        <Heading level={1} upperCase title="Admin" />
        <div class="hexagon-group">
            <Hexagon />
            <Hexagon />
            <Hexagon />
        </div>
        <Card>
            <div class="form">
                <input type="text" placeholder="User" />
                <input type="password" placeholder="Password" />
                <input type="button" value="Enter" />
            </div>
        </Card>
    </main>
</Layout>

<style>
    .hexagon-group {
        display: flex;
        gap: 0.15rem;
        align-self: center;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    input {
        width: 75vw;
        height: 2rem;
        border: 2px solid #313131;
        border-radius: 4px;

        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
    }
</style>
